<div class="container">
    <div class="users">
       <p style="color: rgb(245, 8, 8);">Welcome to Dine-in</p>
    </div>
 
    <div class="container">
       <div *ngFor='let item of item' class="inline-setter">
          <app-item [item]='item'></app-item>
       </div>
    </div>
 </div>